[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
pipenv = "*"
setuptools = "*"
autopep8 = "*"
pytest-cov = "*"

[packages]
fire = "*"

[scripts]
tests = "pytest -vv --cov=gin . --cov-report xml --cov-report term-missing"
install = "python3 setup.py install"
install-dev = "pipenv install --ignore-pipfile --dev"
lint = "autopep8 --in-place --recursive ."
flake8 = "flake8 --show-source gin/ tests/ --exclude=__init__.py"
