[[source]]
name = "gin"
url = "https://github.com/bilelmoussaoui/Gin"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
pipenv = "*"
setuptools = "*"

[packages]
fire = "*"

[requires]
python_version = "3.7"

[scripts]
tests = "pytest"
build = "python3 setup.py build"
install = "python3 setup.py install"
