[[source]]
name = "gin"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
pipenv = "*"
setuptools = "*"
autopep8 = "*"

[packages]
fire = "*"

[requires]
python_version = "3.7"

[scripts]
tests = "pytest tests/"
build = "python3 setup.py build"
install = "python3 setup.py install"
lint = "autopep8 --in-place --recursive ."
flake8 = "flake8 --show-source gin/ tests/"
